@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"); /* Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap"); /* Khand */
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"); /* Rajdhani */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
	@apply !outline-none;
}

:root {
	@apply bg-neutral-200 dark:bg-neutral-900 text-black dark:text-white transition-colors duration-300 ease-in-out overflow-y-scroll;
}

@theme {
	/* Colors */
	--color-light: #034da2;
	--color-dark: #ffc700;

	/*Breakpoints */
	--breakpoint-xs: 425px;

	/* Fonts */
	--font-roboto: "Roboto Condensed", system-ui, sans-serif;
	--font-khand: "Khand", system-ui, sans-serif;
	--font-rajdhani: "Rajdhani", system-ui, sans-serif;

	/* Font Sizes */
	--text-4xxl: 2.5rem;
}

@layer base {
	body {
		scrollbar-width: thin;
		@apply tracking-wide font-roboto;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		color: inherit;
	}
}

/* .vertical-timeline.vertical-timeline--two-columns::before {
	content: "";
	background: none;
	background-color: black !important;
}
@media (prefers-color-scheme: dark) {
	.vertical-timeline.vertical-timeline--two-columns::before {
		background-color: white !important;
	}
} */

.vertical-timeline-element-content {
	@apply shadow-none bg-neutral-100 dark:bg-neutral-800 transition-colors duration-300 rounded-md;
}

.vertical-timeline-element-content-arrow {
	@apply border-r-neutral-100 dark:border-r-neutral-800 transition-colors duration-300;
}

/* .vertical-timeline-element-icon {
	@apply border-2 w-8 h-8 left-1;
} */

/* Sidebar Scrollbar Start */
::-webkit-scrollbar {
	@apply w-1;
}
::-webkit-scrollbar-track {
	@apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-neutral-400 dark:bg-neutral-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-600;
	background: #555;
}
/* Sidebar Scrollbar End */
