@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
	@apply !outline-none;
}

:root {
	@apply bg-neutral-200 dark:bg-neutral-900 text-black dark:text-white transition-colors duration-300 ease-in-out overflow-y-scroll;
}

@theme {
	/* Colors */
	--color-light: #034da2;
	--color-dark: #ffc700;

	/*Breakpoints */
	--breakpoint-xs: 425px;

	/* Fonts */
	--font-roboto: "Roboto Condensed", system-ui, Avenir, Helvetica, Arial, sans-serif;
	--font-khand: "Khand", sans-serif;

	/* Font Sizes */
	--text-4xxl: 2.5rem;
}

@layer base {
	body {
		scrollbar-width: thin;
		@apply tracking-wide font-roboto;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: inherit;
}

/* Sidebar Scrollbar Start */
::-webkit-scrollbar {
	@apply w-1;
}
::-webkit-scrollbar-track {
	@apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-neutral-400 dark:bg-neutral-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-600;
	background: #555;
}
/* Sidebar Scrollbar End */
